# ----------------- #
# Responsabile: TBD #
# ----------------- #

# ----------------------------------------------- #
# Verificatori e Redattori assegnati ai documenti #
# ----------------------------------------------- #

/esterni/analisi-dei-requisiti/ @TobiaApolloni @erclu
# Redattori:
# Riccardo Cestaro, Alberto Gobbo, Fabio Scettro

/esterni/glossario/ @RiccardoAgatea
# Redattori:
# Alberto Gobbo

/esterni/piano-di-progetto/ @RiccardoCestaro @Alberto1598
# Redattori:
# Riccardo Agatea, Alessandro Rizzo

/esterni/piano-di-qualifica/ @RiccardoAgatea @AlbertoGobbo
# Redattori:
# Tobia Apolloni, Luca Ercole

/interni/norme-di-progetto/ @AlexRizzus @fabioscettro
# Redattori:
# Alberto Cocco, Luca Ercole

/interni/studio-di-fattibilita/ @RiccardoAgatea @erclu
# Redattori:
# Riccardo Agatea, Tobia Apolloni, Riccardo Cestaro, Alberto Cocco, Alberto Gobbo, Alessandro Rizzo, Fabio Scettro

/interni/verbali/ @TobiaApolloni @RiccardoCestaro
# Redattori:
# Riccardo Agatea, Luca Ercole

# ------------------------------------------ #
# Verificatori assegnati alla configurazione #
# ------------------------------------------ #

# default reviewer
* @erclu

# configurazioni di varie feature di github
/.github/ @erclu

# configurazione del workspace di visual studio code
/.vscode/ @erclu

# template, configurazione e file comuni di documenti LaTex
/commons/ @RiccardoAgatea
