# owner di default
* @erclu

# configurazioni di varie feature di github
/.github/ @erclu

# configurazione del workspace di visual studio code
/.vscode/ @erclu

# template, configurazione e file comuni di documenti LaTex
/commons/ @RiccardoAgatea

/esterni/analisi-dei-requisiti/ @erclu @TobiaApolloni

/esterni/glossario/ @RiccardoAgatea

/esterni/piano-di-progetto/ @RiccardoCestaro @Alberto1598

/esterni/piano-di-qualifica/ @RiccardoAgatea @AlbertoGobbo

/interni/norme-di-progetto/ @fabioscettro @AlexRizzus

/interni/studio-di-fattibilita/ @erclu @RiccardoAgatea

/interni/verbali/ @AlexRizzus

/lettera-di-presentazione/ @Alberto1598
